* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #109b20;
  --main-color-hover: #086e14;
  --sub-color: #dd0e0e;
  --sub-gray: #dfdfdf;
  --bg-color: #fff;
  --txt-color: #333;
}
.flex {
  display: flex;
}
.align-c {
  align-items: center;
}
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--txt-color);
}
img {
  vertical-align: top;
}

.wrap {
  width: 1200px;
  margin: auto;
}
body {
  color: #333;
  background: var(--bg-color);
}
/* -------------------------------------------------------------------------------------------------------------------------- */
header {
  width: 100%;
  height: 100px;
}
nav {
  width: 60%;
}
nav ul {
  width: 100%;
}
nav ul li.main-m {
  flex: 1;
  position: relative;
}
nav ul li.main-m > a {
  display: block;
  text-align: center;
  padding: 20px 30px;
  background: var(--main-color);
  color: var(--bg-color);
}
nav ul li.main-m:hover > a {
  background: var(--main-color-hover);
  font-weight: 900;
}
ul.sub-m {
  display: none;
  position: absolute;
  background: var(--bg-color);
  z-index: 99;
}
ul.sub-m li > a {
  display: block;
  padding: 8px;
  text-align: center;
}
ul.sub-m li:hover > a {
  background: var(--sub-gray);
  font-weight: 900;
}
/* ----------------------------------------------------------------------------------------- */
.slide-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.slide-wrap {
  width: 100%;
  position: relative; /* 꼭꼭 해줘야 함.... */
}
.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
}
.slide1 {
  background-image: url(../image/슬라이드1.jpg);
}
.slide2 {
  background-image: url(../image/슬라이드2.jpg);
}
.slide3 {
  background-image: url(../image/슬라이드3.jpg);
}

.slide .summary {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--bg-color);
}
.slide .summary h2 {
  margin-bottom: 5px;
}
/* ----------------------------------------------------------------------------------------- */
.contents {
  height: 200px;
}
.contents > div {
  width: 33.3333%;
  position: relative;
}

.tablist ul li {
  /* border: 1px solid #000; */
}
.tablist ul li a {
  padding: 10px;
  display: block;
}
.tablist ul li.on {
  background: var(--sub-gray);
  border: 1px solid #000;
  border-bottom: none;
}

.tab {
  position: absolute;
  background: var(--bg-color);
  width: 100%;
  height: calc(100% - 41px);
  display: none;
}
.tab.on {
  display: block;
}
.notice ul li {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  padding: 9px 10px;
}
.notice ul li a {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice ul li:hover {
  background: var(--sub-gray);
}

.gallery {
  padding: 10px;
}
.gallery ul {
  gap: 10px;
  height: 100%;
}
.gallery ul li {
  width: 120px;
}
.gallery ul li img {
  width: 100%;
}

.banner {
  padding: 20px;
}
.banner ul{
  height: 100%;
}
.banner ul li {
  width: 30%;
  height: 120px;
  overflow: hidden;
  position: relative;
}
.banner ul li img {
  width: 200%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.banner ul li:hover a img {
  filter: brightness(90%);
}

.link {
  background: url(../image/갤러리4.jpg);
}
.link a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 99px;
  color: var(--bg-color);
}
/* ----------------------------------------------------------------------------------------- */
footer {
  height: 100px;
}
.f-logo {
  width: 20%;
}
.copyright {
  width: 60%;
  text-align: center;
}
.sns {
  width: 20%;
}
.sns ul {
  gap: 20px;
}
.sns ul li {
  width: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.sns ul li img {
  width: 100%;
}

/* ----------------------------------------------------------------------------------------- */
.popup{
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color);
  padding: 20px;
  display: none;
}
h3{margin-bottom: 20px;}
.close{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
